<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wacky Widgets</h1>
    
    {% if todo.count > 0 %}
    <table>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th></th>
        </tr>
        {% for i in todo %}
        <tr>
            <td>{{ i.title }}</td>
            <td>{{ i.quantity }}</td>
            <td>
            <form action="{% url 'todo_delete' i.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="X">
            </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>No widgets</h1>
    {% endif %}
        
    <hr>    

    <form action="{% url 'todos_create' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ todo_form.as_table }}
        </table>
        <input type="submit">
    </form>
        
</body>
</html>